body {
	background-color: #EAEAEA;
}

h1 {
	color:#FF2E63;
	font-family: helvetica;
}

h2 {
	color:#08D9D6;
	font-family: helvetica;
}

p {
	color:#252A34;
	font-family: helvetica;
	line-height: 16px;
	width: 700px;
}