body{
	font-family: avenir, san-serif;
	background: #14223F;
	padding-top: 30px;
	padding-right: : 30px;
	padding-left: : 30px;
	padding-bottom: 30px;
}
	
#slogan{
	color:#B29E7D;
	text-align:center;
}	

#myname{
	color:#C8C8C8;
	text-align:center;
}	

#navimage, #navimage2, #navimage3, #gaussianblur {

	display:block;
	position:absolute;
	margin:auto;
	text-align:center;
}

.menu{
	text-decoration: none; 
	color: white;
}

#topbar{
	text-align:right;
	padding-right: 50px

}


hr{
	 border: 1px solid #B29E7D;
	 width: 93%;
}

#name{

	z-index:-1;
	width: 100%;
}