@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: #14223F;
	background-image: url(../images/name.svg);
	background-repeat: no-repeat;
	background-size: 105%
	background-position: center;
	font-size: 14px;

}

#wrapper{
	width:80%;
	/*max-width: 1280px;*/
	margin:auto;
}

/********************* header style code *********************/


#topbar{
	position:relative;
	text-align:right;
	padding-top: 2em;
	/*max-width: 1280px;*/
	margin:auto;
	border-bottom:1px solid #B29E7D;
	padding-bottom: 1.4em;

}



.menu{
	text-decoration: none; 
	color: white;
	padding-left:.8em;
	padding-right:.8em;
	padding-bottom: .8em;
	font-family: 'Lato', sans-serif;
	font-size: 1em;

}




/********************* home page-circle style code *********************/

a {
    color: transparent;
    text-decoration: none;
}

h3, p {
    margin: 0;
}

.text {
    display:none;
    text-indent: -999999999em;
}

.cogInside-purple{
	width:100%;
	max-width:450px;
	margin: 0 auto;
}

.circular-nav {
    border-radius: 50%; 
    box-shadow: 0px -1px 20px 4px rgba(141,141,141,0.4);
    height: 0;
    width:100%;
    padding-bottom:100%;
    list-style: none;
    margin: 75px auto;
    overflow: hidden;  
   /* padding: 0;*/
    /*width: 450px;*/
    background-image: url(../images/circle.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0px 0px; 
    transform: rotate(90deg);

}

.circular-nav .circular-nav-piece {
    /*border: 1px solid white;*/
    height: 0;
    padding-bottom:100%;
    position: absolute;
    top: -49%;
    left: -49%;
    overflow: hidden; 
    width: 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; 

}


.purple-ul {
    -webkit-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
}

.purple-ul a:nth-child(1) {
  /*  background-color: rgba(0,255,0,0.4);*/
    -webkit-transform: rotate(303deg) skew(-25deg);
    transform: rotate(273deg) skew(-27deg);
}
.purple-ul a:nth-child(2) {
    /*background-color: rgba(255,0,0,0.4);*/
    -webkit-transform: rotate(57deg) skew(-33deg);
    transform: rotate(32deg) skew(-24deg);
}
.purple-ul a:nth-child(3) {
   /*	background-color: rgba(0,0,255,0.4);*/
    -webkit-transform: rotate(180deg) skew(-33deg);
    transform: rotate(148deg) skew(-33deg);
}


.content{
  text-align: center;
}

#circlecontainer{
	overflow: hidden;
}

/********************* project page style code *********************/

.sticky-wrapper{
    border: none;
    float: left;
    width: 20%;
}

#columnthree {
    border: none;
    float: right;
    width: 80%;
}

.tlbtngroup {
	background-color: rgba(0, 0, 0, 0);
    color: white; 
    width:100%;
    text-align: left;
    padding: 7.5vh 0px 7.5vh 10px; 
    margin: 2px 0px 2px 0;
    cursor: pointer; 
    display: block; 
    font-family: 'Lato', sans-serif;
	font-size: .9em;
	font-weight: 100;
	line-height: 1.2em;
	border-left: 10px solid white;
	border-top:none;
	border-bottom:none;
	border-right:none;
}

.tlbtngroup:hover, .tlbtngroup:active{ 
	color:#B29E7D;
	font-weight:300;
	border-left: 10px solid #B29E7D;
 }

/* #button1,#button2,#button3,#button4{
 	height:25%;
 }*/


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#placeholder {
	width:60%;
	min-width:200px;
	padding-bottom: 20px;
}

/********************* contact page style code *********************/

/*body {
  margin: 0;
  padding: 0;
}
*/
#contact {
  width: 100%;
  height: 100vh;
/*  background-color: #111;*/
  overflow: hidden;
  padding-bottom: 400px;
  margin:30px auto;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font:  2em 'Lato', sans-serif;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
  max-width:800px;
  font-family: 'Lato';
  font-weight: 400;
  margin:30px auto;
}

.form-control, textarea {
  width: 40vw;
  max-width: 800px;
  background-color: white;
  color: black;
  letter-spacing: 1px;
  margin-top: 15px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 40vw;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
/*  float: right;*/
  text-align: center;
  margin: 30px auto;

}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}





/********************* text styles *********************/

.bodytext{
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.7em;
	color:#fff;
}

.headertext{
	font-family: 'Lato', sans-serif;
	color:#fff;
	font-size: 2em;
	font-weight: 700;
	/*line-height: 3em;*/
	letter-spacing: .03em;
}

#projectname{
	margin-bottom: 20px;
	margin-top: 40px;

}

.header2text{
	font-family: 'Lato', sans-serif;
	color:#B29E7D;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: .03em;
}

#slogan{
	color:#C8C8C8;
	text-align:left;
	padding-bottom: 10px;
}

#slogan, #fillertext, #list, .header2text{
	margin-bottom: 20px;
}

#inter{
	color:#B29E7D;
}


ul{
	padding: 0;
    list-style-type: none;
}

#contactmelink{

	color:#007cb3;

}

/********************* image style code *********************/

img{
	display:block;
	width:100%;
}

#me {

	display:block;
	width:80vw;
	max-width:40em;
	margin: auto;
	margin-top:30px;
	margin-bottom: 30px;

}

/********************* Media Queries *********************/

@media only screen and (max-width: 768px) {

	.sticky-wrapper {

		visibility: hidden;
		width:0%;

	}

	#columnthree {

		width:100%;
	}

}


@media only screen and (max-width: 360px) {

	body{

		background-height: 50%;
/*
		text-align:center;*/
	}

	.sticky-wrapper {

		visibility: hidden;
		width:0%;

	}

	#columnthree {

		width:100%;
	}

}


