@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: #14223F;
	background-image: url(../images/name.svg);
	background-repeat: no-repeat;
	background-size: 105%;

}



img{
	display:block;
	width:100%;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width:20%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 72%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

header {
	background-color: #ffed74;
}


nav {
	background-color: #e8c66a;
}



aside {
	background-color: #ffc675;
}

article {
	background-color: #e89c6c;
}

section,div,figure {
	background-color: #ffe2b8;
}

img{
	width:50%;
}

nav,aside,article,section,div,header, img{
	border: 1px black solid;
    padding: 20px;
}


