body{
	font-family: avenir, san-serif;
	background-color: #14223F;
	background-image: url(../images/name.svg);
	background-repeat: no-repeat;
	background-size: 105%;
	background-position: bottom;
	padding-top:30px;
	padding-right:30px;
	padding-left:30px;
	padding-bottom:30px;
	min-height: 100vh;
}

#logo{
	float:left;
	position:absolute;
	top:20px;
	left:30px;
	width:6%;
}
	
#slogan{
	color:#B29E7D;
	text-align:center;
}	

#myname{
	color:#C8C8C8;
	text-align:center;
}	

#navimage, #navimage2, #navimage3, #gaussianblur {

	display:block;
	position:absolute;
	margin:auto;
	width:40%;
	left: 30vw;
    top: 15vh;
}

.menu{
	text-decoration: none; 
	color: white;
	padding-left:10px;
	padding-right:10px;

}

#topbar{
	text-align:right;
	padding-left:30px;

}


hr{
	 border: 1px solid #B29E7D;
	 width: 95%;
	 margin-left: 60px;
	
}


#navsection{
	height:70vh;
}


#navimage{
	z-index:4;
}

#navimage2{
	z-index:3;
}

#navimage3{
	z-index:2;
}

#gaussianblur{
	z-index:1;
}

#inter{
	color:#C8C8C8;
}

#list, #contactme {

	color:#C8C8C8;
	text-align: center;
	width:250px;
	margin:auto;
}

ul{
	padding: 0;
    list-style-type: none;
}

